MONGODB_URL=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=crystext
OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=mistral
CIF_FOLDER=../dataset/cif_files
CORS_ORIGINS=http://localhost:3000
